<body>
    <form id="form" action="https://www.solebox.com/index.php?" method="post">
        <input type="hidden" name="lang" value="1">
        <input type="hidden" name="cl" value="basket">
        <input type="hidden" name="fnc" value="tobasket">
        <input type="hidden" name="am" value="1">
        <input type="hidden" name="aid" value="{{aidval}}">
    </form>
    //La Familia
</body>

<script>
    document.getElementById("form").submit();
</script>